body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div{
    text-align: center;
}
.top {
    background-color: azure;
    position: relative;
    padding-top: 100px;
  }

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #66bfbf;
    margin-top: 0;
}

h3 {
    color: #66bfbf;
}

.profile-pic{
    width: 150px;
    height: 150px;
}

.bottom-cloud{
    position: absolute;
}

.top-cloud{
    position: absolute;
    right:400px;
    top: 50px
}

.grad-hat{
    width: 100px;
    height: 100px;
}

.proj-icon{
    width: 100px;
    height: 100px;
}

.exp-icon{
    width: 100px;
    height: 100px;
}

.skill-icon{
    width: 100px;
    height: 100px;
}

ul{
    display: inline;
}